.dashboard-card-container {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    height: 200px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    box-shadow: 0 4px 8px 0 var(--primary-color), 0 6px 20px 0 var(--primary-color);
    max-width: 350px;
    justify-content: center;
}

.dashboard-card-container .title {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.dashboard-card-container .count-box {
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}
@media screen and (max-width: 600px)  {
    .dashboard-card-container {
        min-width: 100px;
        height: 120px;
    }
    .dashboard-card-container .count-box {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        font-size: 16px;
    }
    .dashboard-card-container .title {
        font-size: 14px
    }
}
