.table-container .student-name {
    text-decoration: underline;
    cursor: pointer;
    color: cadetblue;
}

.table-container table {
    width: 100%;
    overflow-x: auto;
}

.table-container .table-footer {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
