.dashboard-container {
    height: 100%;
}
.dashboard-container .search-input {
    margin-bottom: 10px;
}

.table-and-profile-container {
    display: flex;
    height: 90%;
}

.table-container {
    width: 100%;
}

.table-container .ant-table-wrapper {
    overflow-x: auto;
}

#profile-container {
    flex: 1;
}

.dashboard-container .table-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}