#invoice-pdf iframe {
    width: 100%;
    height: 500px;
    overflow: auto;
}

.dues-header {
    width: 100%;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dues-header .dues-actions {

}


.dues-wrapper {
    flex: 1;
    width: 100%;
}

.dues-wrapper .ant-pagination {
    margin-top: 1rem;
}

.flex-wrapper {
    display: flex;
}

.dues-container {
    max-height: 70vh;
    overflow: auto;
    max-width: 100%;
    border: 1px solid #9b9b9b;
    border-radius: 8px;
}

.dues-container .ant-divider {
    margin: 2px 0px;
    padding-inline: 4px;
}

.dues-container .family-due-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.dues-container .family-due-card.active {
    background-color: var(--primary-color);
    color: white;
}

.dues-container .family-due-card .omr {
    font-size: 12px;
}

.dues-container .family-due-card:hover {
    background-color: #e2e1e2;
}

.dues-container .family-due-card.active:hover {
    background-color: var(--primary-color);
}


.family-due-card .family-name {
    font-weight: bold;
}

.family-due-card .left {
    display: flex;
    gap: 8px;
    align-items: center;
}

.family-due-card .left .anticon-user {
    border: 1px solid var(--primary-color);
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: var(--primary-color);
}

.dues-container .family-due-card.active .right {
    color: white;
}

.dues-container .family-due-card.active .anticon-user {
    color: white;
    border-color: white;
}


.family-due-card .right {
    color: var(--primary-color);
    font-weight: bold;
}

.invoice-wrapper {
    width: 100%;
    flex: 2;
    border: 1px solid #e2e1e2;
    margin-left: 2rem;
    border-radius: 4px;
    background-color: white;
}

.invoice-wrapper iframe {
    width: 100%;
    height: 100%;
}

.invoice-wrapper .empty-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: larger;
    font-weight: 400;
}
