.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    background: linear-gradient(200deg, var(--primary-dark) 0%, var(--secondary-color) 100%);
}
.login-page .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    min-width: 350px;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    background-color: white;
    border-radius: 10px;
}
.login-container .login-form {
    padding: 20px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form form {
    width: 100%;
}
.login-form .title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 30px;
}
.login-form .submit-button-container {
    padding-top: 20px;
    width: 100%;
}
