.layout-container {
    height: 100%;
}

.layout-container .sider {
    background-color: #316064;
}

.layout-container .header {
    background-color: #e5e5e9;
}

.layout-container .trigger {
    width: 20px;
}

