.layout-container {
    height: 100%;
}

.layout-container .ant-layout-sider, .layout-container .ant-layout-sider-children ul {
    background-color: var(--primary-color);
}

.layout-container .ant-layout-sider ul.ant-menu li.ant-menu-item {
    background-color: var(--primary-color);
    color: white;
}

.layout-container .ant-layout-sider ul.ant-menu li.ant-menu-item:hover {
    color: white;
}

.layout-container .ant-layout-sider ul.ant-menu :first-child.ant-menu-item {
    background-color: white;
    color: var(--primary-color);
    height: 58px;
    display: flex;
}

.layout-container .ant-layout-sider ul.ant-menu :first-child.ant-menu-item:hover {
    color: var(--primary-color);
}

.layout-container .header {
    background-color: white;
}

.header .header-desktop-view {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header .left {
    display: flex;
    flex: 2;
    align-items: center;
}

.layout-container .header .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.layout-container .header .header-title {
    font-size: 1.3rem;
    font-weight: 200;
    color: var(--primary-color);
}

.layout-container .ant-layout-content {
    margin: 10px !important;
    overflow: auto;
}

.layout-container .trigger {
    width: 20px;
}

.layout-container .header .header-mobile-view {
    display: none;
    text-align: center;
    background-color: var(--secondary-color);
    padding-inline: 0px !important;
}

.layout-container .footer {
    display: none;
}

@media screen and (max-width: 600px) {
    .ant-layout-sider {
        display: none;
    }
    .ant-layout-header {
        padding-inline: 0px !important;
    }
    .layout-container .header .header-desktop-view {
        display: none;
    }
    .layout-container .header .header-mobile-view {
        display: block;
        text-align: center;
    }
} 

